.loginPage__title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.login_methods {
    display: flex;
    flex-direction: row;
}

.login__block {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: center;
    padding: 20px;
    background: linear-gradient(10deg, #fdfdfd 100%, #9dfccb 00%);
    border: 2px solid #363d56;
    border-radius: 10px;
    box-shadow: 8px 8px;
}

.login_block {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
}

.login_input {
    display: flex;
    width: 100%;
    margin: 5px 0 5px 0;
    padding: 2px 5px 2px 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.login_button {
    cursor: pointer;
    white-space: nowrap;
    margin: 0px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: auto;
    padding: 5px 15px 5px 15px;
}

.login_error {
    color: red;
}

.login__title {
    font-size: 1.4rem;
    padding: 10px;
}